# Required by systemd for interpretation of service operation.

[Unit]
Description=Makes a swap file on the volitile temp drive

[Service]
ExecStartPre=-mkdir -p /usr/sbin
ExecStartPre=-touch /usr/sbin/makeswap.sh
ExecStartPre=-chmod 700 /usr/sbin/makeswap.sh
ExecStart=-/usr/sbin/makeswap
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target