[Unit]
Desscription=Makes a swap file on the volitile temporary drive

[Service]
ExecStart=/usr/local/bin/makeswap.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
